# Tasca: Mètodes de mostreig

In [4]:
import pandas as pd
import numpy as np 
import random
from imblearn.over_sampling import SMOTE
from collections import Counter

## Nivell 1

- Exercici 1

Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

In [5]:
# Importem el fitxer csv per crear el dataframe
nba_players = pd.read_csv('./db/NBA PLAYERS STATS/player_data.csv')
#Eiminem les files sense dades
nba_players.dropna(inplace=True)
nba_players.reset_index(inplace=True)
nba_players

,index,name,year_start,year_end,position,height,weight,birth_date,college
0,0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...,...
4208,4542,Derrick Zimmerman,2006,2006,G,6-3,195.0,"December 2, 1981",Mississippi State University
4209,4543,Stephen Zimmerman,2017,2017,C,7-0,240.0,"September 9, 1996","University of Nevada, Las Vegas"
4210,4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4211,4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4212,4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [6]:
nba_players.describe(include='all')

,index,name,year_start,year_end,position,height,weight,birth_date,college
count,4213.000000,4213,4213.000000,4213.000000,4213,4213,4213.000000,4213,4213
unique,NaN,4165,NaN,NaN,7,28,NaN,3893,470
top,NaN,George Johnson,NaN,NaN,G,6-7,NaN,"March 26, 1962",University of Kentucky
freq,NaN,3,NaN,NaN,1501,441,NaN,3,99
mean,2266.635177,NaN,1984.062663,1988.267505,NaN,NaN,207.716117,NaN,NaN
std,1313.511815,NaN,20.699757,21.592122,NaN,NaN,25.447824,NaN,NaN
min,0.000000,NaN,1947.000000,1947.000000,NaN,NaN,133.000000,NaN,NaN
25%,1128.000000,NaN,1969.000000,1972.000000,NaN,NaN,189.000000,NaN,NaN
50%,2255.000000,NaN,1985.000000,1990.000000,NaN,NaN,205.000000,NaN,NaN
75%,3408.000000,NaN,2001.000000,2007.000000,NaN,NaN,225.000000,NaN,NaN
max,4549.000000,NaN,2018.000000,2018.000000,NaN,NaN,360.000000,NaN,NaN

In [7]:
# definim una funció que faci el mostreig en funció del % de mostra desitjat i el tipus de mostreig (Aleatori simple o Sistemàtic)
def sampling_rand_syst(df,sample_percent,sample_method):
    sample_size = round(len(df) / 100 * sample_percent)
    if sample_method == 1: # Aleatori simple
        df_random = df.sample(sample_size) #select % sample points from a dataset.
        parameters = f'Sample(%): {sample_percent}%, Sample size:{sample_size}, Sampling Metod: Aleatori Simple'
        return df_random, parameters
    elif sample_method == 2: # Sistematic
        step = len(df) // sample_size
        start_rand = random.randint(0, (step - 1))
        indexes = np.arange(start_rand, len(df), step=step)
        df_systematic = df.iloc[indexes]
        parameters = f'Sample(%): {sample_percent}%, Sample size:{sample_size}, Sampling Metod: Sistemàtic'
        return df_systematic, parameters

In [8]:
# introduim els inputs per fer els samplings:

# Aleatori simple (Sample_method = 1):
nba_rand, parameters = sampling_rand_syst(nba_players,sample_percent=20,sample_method=1)
print(parameters)
nba_rand.head()

Sample(%): 20%, Sample size:843, Sampling Metod: Aleatori Simple

,index,name,year_start,year_end,position,height,weight,birth_date,college
733,786,David Cooke,1986,1986,F,6-8,230.0,"September 27, 1963",Saint Mary's College of California
2152,2307,Jeremy Lamb,2013,2018,G-F,6-5,185.0,"May 30, 1992",University of Connecticut
2892,3116,Chandler Parsons,2012,2018,F,6-10,230.0,"October 25, 1988",University of Florida
3278,3534,JaKarr Sampson,2015,2018,G-F,6-9,214.0,"March 20, 1993",St. John's University
2478,2656,Alfred McGuire,1952,1955,G-F,6-2,180.0,"September 7, 1928",St. John's University

In [9]:
nba_rand.describe()

             index   year_start     year_end      weight
count   843.000000   843.000000   843.000000  843.000000
mean   2198.279953  1984.588375  1988.884935  207.187426
std    1331.515266    20.798267    21.613750   25.214575
min       0.000000  1947.000000  1947.000000  135.000000
25%     984.500000  1971.000000  1973.000000  188.000000
50%    2182.000000  1985.000000  1991.000000  205.000000
75%    3383.500000  2002.000000  2007.000000  225.000000
max    4543.000000  2018.000000  2018.000000  315.000000

In [10]:
# Systematic (sample_method = 2)
nba_syst, parameters = sampling_rand_syst(nba_players,sample_percent=20,sample_method=2)
print(parameters)
nba_syst.head()

Sample(%): 20%, Sample size:843, Sampling Metod: Sistemàtic

,index,name,year_start,year_end,position,height,weight,birth_date,college
2,2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
6,6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University
10,11,Don Ackerman,1954,1954,G,6-0,183.0,"September 4, 1930",Long Island University
14,15,Alvan Adams,1976,1988,C-F,6-9,210.0,"July 19, 1954",University of Oklahoma
18,19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"

In [11]:
nba_syst.describe()

             index   year_start     year_end       weight
count  1053.000000  1053.000000  1053.000000  1053.000000
mean   2266.639126  1983.860399  1987.851852   208.234568
std    1313.671896    20.503234    21.399089    25.107394
min       2.000000  1947.000000  1947.000000   145.000000
25%    1129.000000  1969.000000  1972.000000   190.000000
50%    2255.000000  1984.000000  1988.000000   210.000000
75%    3407.000000  2000.000000  2006.000000   225.000000
max    4546.000000  2018.000000  2018.000000   280.000000

## Nivell 2

- Exercici 2

Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

Mostra Estratificada:

In [12]:
# Fem una base de dades mes petita per a fer els exercicis
nba_trimmed = nba_players[['year_start', 'year_end', 'position']]
#Convertim les possicions al seu equivalent numeric (https://es.wikipedia.org/wiki/Posiciones_del_baloncesto) i afegim la columna al dataframe
position_numeric = []
for item in nba_trimmed['position']: 
    if item == 'C': 
        position_numeric.append(5)
    elif item == 'C-F': 
        position_numeric.append(4)
    elif item == 'F-C': 
        position_numeric.append(4)
    elif item == 'F':
        position_numeric.append(3)
    elif item == 'F-G':
        position_numeric.append(2)
    elif item == 'G-F':
        position_numeric.append(2)
    elif item == 'G':
        position_numeric.append(1)
   
nba_trimmed['position_numeric'] = position_numeric
nba_trimmed.head()

<ipython-input-12-48fefcc9cd3d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_trimmed['position_numeric'] = position_numeric

   year_start  year_end position  position_numeric
0        1991      1995      F-C                 4
1        1969      1978      C-F                 4
2        1970      1989        C                 5
3        1991      2001        G                 1
4        1998      2003        F                 3

In [13]:
# Definim Algoritme per stratified sampling
def sampling_strat (df, group_sel, sample_percent=30, ):
    df_out = pd.DataFrame()
    strat = pd.unique(df[group_sel])
    for group in strat : 
        df_group = df[getattr(df, group_sel) == group]
        sample_size = round(len(df_group) / 100 * sample_percent)
        df_random = df_group.sample(sample_size) #select % sample points from a dataset.
        df_out = df_out.append(df_random)
        #outputs
    statistics = f'sample method: Stratified, Sample(%): {sample_percent}, Sample Size: {sample_size}, Strat: {group_sel}'
    return df_out, statistics

In [14]:
# Apliquem l'algoritme per a Stratified Sampling
nba_strat, statistics = sampling_strat(nba_trimmed, 'position_numeric')
print(statistics)
nba_strat.head()

sample method: Stratified, Sample(%): 30, Sample Size: 162, Strat: position_numeric

      year_start  year_end position  position_numeric
2174        1968      1973      F-C                 4
250         1974      1980      F-C                 4
2096        1969      1969      F-C                 4
487         1989      2003      F-C                 4
2233        1947      1949      F-C                 4

In [15]:
nba_strat.groupby('position_numeric').aggregate(['count', 'mean'])

                 year_start              year_end
                      count         mean    count         mean
position_numeric
1                       450  1986.317778      450  1989.993333
2                       162  1974.796296      162  1979.759259
3                       361  1987.229917      361  1990.556787
4                       169  1978.532544      169  1984.502959
5                       122  1987.491803      122  1992.336066

In [55]:
#Algoritme per SMOTE
def sampling_SMOTE (X, y, random_state=42):
    df_out = pd.DataFrame()
    sm = SMOTE(sampling_strategy='not majority', random_state=random_state)
    X_res, y_res = sm.fit_resample(X, y)
    #outputs:
    metrics = f'Origial dataset shape:\n{Counter(y)}\n\nResampled dataset shape:\n{Counter(y_res)}\n\nX:{list(X.columns)} Y: {y.name}\n'
    df_out = pd.DataFrame(X_res, columns=X.columns)
    df_out[y.name] = y_res
    return df_out, metrics

In [56]:
#Apliquem l'algoritme per SMOTE sampling:
nba_SMOTE, metrics = sampling_SMOTE( X=nba_trimmed[['year_start', 'year_end']], y=nba_trimmed['position_numeric'])
print(metrics)
nba_SMOTE.head()

Origial dataset shape:
Counter({1: 1501, 3: 1202, 4: 563, 2: 541, 5: 406})

Resampled dataset shape:
Counter({4: 1501, 5: 1501, 1: 1501, 3: 1501, 2: 1501})

X:['year_start', 'year_end'] Y: position_numeric

   year_start  year_end  position_numeric
0        1991      1995                 4
1        1969      1978                 4
2        1970      1989                 5
3        1991      2001                 1
4        1998      2003                 3

In [43]:
nba_SMOTE.groupby('position_numeric').aggregate(['count', 'mean'])

                 year_start              year_end
                      count         mean    count         mean
position_numeric
1                      1501  1986.443038     1501  1990.238508
2                      1501  1977.395736     1501  1982.844770
3                      1501  1986.287142     1501  1989.393738
4                      1501  1978.519654     1501  1984.706862
5                      1501  1985.492338     1501  1989.604930

Nivell 3

- Exercici 3

Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.

In [46]:
#Definim l'algoritme pel reservoir sampling
def sampling_reservoir (df, K=30):
    stream = len(df) # per simular un stream definim el llarg del dataframe per iterar sobre cada fila
    df_out = pd.DataFrame()
    for item in range(stream): # fem tantes iteracions como lineas te el dataframe 
        if item < K: #guardem els primers items fins que arribem a una mostra = K
            df_out = df_out.append(df.iloc[item])
        if item >= K: # per els seguents items apliquem les recles de probabilitat en funció de la seva possició
            p = K / item
            rand = random.random()
            if rand < p: 
                index_list = df_out.index
                randloc = random.choice(index_list)
                # print(df.iloc[item])  #Test per comprobar que els items que s'indexen son mes grans a K
                df_out.iloc[randloc] = df.iloc[item]
            # Outputs:
            parameters = f'K= {K}'
            return df_out, parameters

In [48]:
nba_reservoir, parameters = sampling_reservoir(nba_trimmed)
print(parameters)
nba_reservoir

K= 30

   position  position_numeric year_end  year_start
0       F-C               4.0   1995.0      1991.0
1       C-F               4.0   1978.0      1969.0
2         C               5.0   1989.0      1970.0
3         G               1.0   2001.0      1991.0
4         F               3.0   2003.0      1998.0
5         F               3.0   2008.0      1997.0
6         F               3.0   1981.0      1977.0
7      1968            1968.0        F         3.0
8         F               3.0   1948.0      1947.0
9         G               1.0   2009.0      2006.0
10        G               1.0   1954.0      1954.0
11      F-C               4.0   1993.0      1988.0
12        F               3.0   1968.0      1968.0
13        F               3.0   2018.0      2013.0
14      C-F               4.0   1988.0      1976.0
15        F               3.0   1977.0      1971.0
16      F-G               2.0   1975.0      1973.0
17        G               1.0   2009.0      2007.0
18        G               1.0   2016.0      2015.0
19        G               1.0   1996.0      1986.0
20        C               5.0   2018.0      2014.0
21      F-G               2.0   1997.0      1987.0
22      C-F               4.0   2018.0      2018.0
23        G               1.0   1975.0      1969.0
24        F               3.0   2015.0      2011.0
25        G               1.0   2018.0      2008.0
26        G               1.0   2011.0      2007.0
27      F-G               2.0   1994.0      1982.0
28        G               1.0   2012.0      2008.0
29        G               1.0   1995.0      1982.0

In [54]:
nba_reservoir.describe(include='all')

       position  position_numeric  year_end   year_start
count        30         30.000000      30.0    30.000000
unique        7               NaN      24.0          NaN
top           G               NaN    2018.0          NaN
freq         11               NaN       4.0          NaN
mean        NaN         67.966667       NaN  1922.866667
std         NaN        358.861464       NaN   363.109059
min         NaN          1.000000       NaN     3.000000
25%         NaN          1.000000       NaN  1971.500000
50%         NaN          3.000000       NaN  1987.500000
75%         NaN          3.750000       NaN  2007.000000
max         NaN       1968.000000       NaN  2018.000000